.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 91.2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-white {
  background-color: #fff;
  color: #282c34;
}

.display-ib {
  display: inline-block;
}

.rounded {
  border-radius: 5px;
}
.p {
  padding: 8px 12px 10px;
}
.p-10-20 {
  padding: 10px 20px;
}
.w-200 {
  width: 200px;
}
.wp-100 {
  width: 100%;
}
.m-1 {
 margin: 1em;
}
.h-150{
  height: 150px;
}
.hide {
  visibility: hidden;
}
.button-size {
  width: 150px;
}